//#region Text and button
  h1, h2, h3, h4, h5, h6, span {
    color: #333745;
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 9px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 29px;
  }

  h3 {
    font-size: 48px;
    width: 360px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  h5 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    color: #333745;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
//#endregion

//#region Navbar
  .navbar {
    height: 72;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    padding: 0 60px 0 140px;
    align-items: center;

    display: flex;

    &__logo {
      margin-right: auto;
      color: #333745;
      text-transform: uppercase;
    }

    &__links {
      display: flex;
      color:#fff;
      align-items: center;

      p {
        margin-left: 30px;
        text-shadow: 0px 1px 2px rgba(99, 101, 102, 0.7);
      }
    }

    &__contact-button {
      padding: 10px 20px;
      margin: 15px 0px 15px 30px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 8px;

      p {
        margin-left: 0;
      }
    }
  }
//#endregion

//#region Hero section
  .hero-section {
    display: flex;
    flex-direction: row;
    height: 90vh;
    
    &__left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    &__info {
      width: 466px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;


      p {
        color: #596078;
        font-size: 18px;
        line-height: 1.63;
        text-align: left;
      }

      &__presentation {
        margin-bottom: 52px;
      }

      &__buttons {
        height: 56px;

        display: flex;

        &__contact {

          display: flex;
          align-items: center;
          padding: 16px 28px 16px 32px;

          border-radius: 8px;
          background:
            linear-gradient(264deg, #99c2ff 0%, #a399ff 100%);
            box-shadow: 0px 8px 16px -4px rgba(161, 174, 224, 0.5),
              inset 8px 8px 32px rgba(255, 255, 255, 0.35),
              inset -8px -8px 16px #7B93C9;

          p {
            color: #fff;
            font-weight: 700;
            text-align: center;

            text-shadow: 0px 1px 2px #7E87B0;
            white-space: nowrap;
          }
          
          &__icon {
            margin-left: 16px;
          }
        }

        &__cv {
          align-items: center;
          background: #edf0fb;
          border-radius: 8px;
          display: flex;
          margin-left: 28px;
          padding: 16px 28px 16px 32px;
          border-width: 0px;

          p {
            color: #5b678c;
            font-weight: 500;
            text-align: center;
            white-space: nowrap
          }

          &__icon {
            margin-left: 16px;
          }
        }
      }
    }

    &__img {
      width: 50%;
      object-fit: cover;
    }
  }
//#endregion

//#region Skills and education
  .skills-education {
    padding: 70px 140px;
    background-color: #E5EDF9;
    display: flex;
    flex-direction: row;
  }

  .skills {
    &__technologies {
      display: flex;
      flex-wrap: wrap;
      width: 600px;

      &__technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 30px;

        span {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .education {
    padding-top: 17px;

    &__content {
      display: flex;
      position: relative;
    }

    &__line {
      height: 100%;
      width: 1;
      border-right: 1px solid #B9BBC4;
      position: absolute;
    }

    &__boxes {
      margin-left: 35px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 42px;

      &__card {
        width: 544px;
        background-color: #fff;
        border-radius: 32px;
        box-shadow: inset 16px 16px 32px #EEF0FB, inset -8px -8px 16px rgba(138, 149, 227, 0.33);
        z-index: 2;
        padding: 30px 40px;

        &__info {
          display: flex;
          margin-bottom: 20px;
          align-items: center;

          &__date {
            color: #656978;
            margin-right: 20px;
          }

          &__school {
            color: #4F535E;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            margin-right: 10px;
          }
        }

        p {
          font-size: 18px;
          line-height: 163%;
          margin-bottom: 12px;
        }

        &__technologies {
          display: flex;
        }
      }

      &__shadow {
        width: 446px;
        height: 77px;
        background: rgba(161, 171, 234, 0.4);
        filter: blur(25px);
        border-radius: 150px;
        position: relative;
        top: -65px;
        margin-bottom: -65px;
        z-index: 1;
      }
    }
  }

  .technology {
    //transform: scale(0.5);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 12px;

    svg {
      transform: scale(0.4);
      transform-origin: left top;
    }
  }
//#endregion

.certificate-languages {
  padding: 90px 140px;
  display: flex;
  flex-direction: row;
}

.certificate {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 130px;
}

.opquast {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;

    &__icon {
      margin-right: 30px;
    }

    h6 {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &__school {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      color: #656978;
    }
  }

  &__mention {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;

    &__text {
      margin-right: 10px;
    }
  }

  &__skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &__check {
      margin-right: 17px;
    }

    p {
      font-size: 18px;
    }
  }
}

.language {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    margin-right: 30px;
  }

  h6 {
    font-size: 28px;
  }

  span {
    font-size: 18px;
  }
}

.courses {
  padding: 10px 140px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    align-self: flex-start;
  }
  
  h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    left: -49px;
  }

  &__author {
    font-weight: 400;
    color: #656978;
  }

  &__info {
    align-self: flex-start;
  }

  &__button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;

    &__left {
      margin-right: 50px;
    }
  }

  ul {
    min-height: 260px;
  }

  li {
    font-size: 18px;
    font-family: "Roboto";
    line-height: 160%;
    font-weight: 400;
  }
}

.course {
  &__picture {
    border-radius: 32px;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.current_course .course__box__shadow {
    width: 518px;
    height: 127px;
    background: rgba(161, 171, 234, 0.4);
    filter: blur(25px);
    border-radius: 150px;
    position: absolute;
    bottom: -40px;
    z-index: -2;
}

.previous_course, .next_course {
  position: absolute;
  z-index: -2;

  &__picture {
    width: 500px;
    height: 280px;
  }
}

.previous_course .course__box__shadow, .next_course .course__box__shadow {
    width: 414px;
    height: 127px;
    background: rgba(161, 171, 234, 0.4);
    filter: blur(25px);
    border-radius: 150px;
    position: absolute;
    bottom: 0px;
    z-index: -3;
}

.previous_course {
  left: 50px;
}

.next_course {
  right: 50px;
}

.course__box__side-shadow {
  width: 127px;
  height: 280px;
  background: rgba(105, 108, 133, 0.5);
  filter: blur(15px);
  border-radius: 150px;
  position: absolute;
  z-index: -1;

  &__left {
    left: -20px;
  }

  &__right {
    right: -20px;
  }
}

.chevron {
  transform: scale(2);
}