$smallest: 420px;
$small: 640px;
$normal: 768px;
$large: 1024px;

//#region Text and button
  h1, h2, h3, h4, h5, h6, span {
    color: #333745;
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 9px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 29px;
  }

  h3 {
    font-size: 48px;
    width: 360px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  h5 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }

  p, a {
    color: #333745;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
//#endregion

//#region Navbar
  .navbar {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    right: 0;
    left: 0;
    padding: 0 20px 0 140px;
    
    &__logo {
      color: #333745;
      text-transform: uppercase;

      &__last-name {
        font-weight: 800
      }
    }

    &__links {
      ul {
        display: flex;
        align-items: center;
        color:#fff;
        list-style-type: none;
      }

      span, a {
        color: #FFF;
        text-shadow: 0px 1px 2px rgba(99, 101, 102, 0.7);
      }

      a {
        margin-left: 25px;
      }

      p:hover, a:hover {
        text-decoration: underline;
      }

      &__contact {
        display: flex;
        align-items: center;
        
        div {
          padding: 10px 20px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 8px;
        }
      }
    }

    &__hamburger {
      display: none;
      z-index: 4;
      position: absolute;
      right: 100px;
      transition: all 0.3s linear;
      &__icon {
        width: 20px;
        height: 20px;
        svg {
          width: 100%;
        }
        transition: all 0.3s ease-in;
  
        &.open {
          transform: rotate(90deg);
        }
      }
      &.open {
        position: fixed;
        right: 175px;
      }
    }
  }
//#endregion

//#region Hero section
  .hero-section {
    overflow: hidden;
    display: flex;
    height: 90vh;

    h1 span {
      font-weight: 800;
    }
    
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 50%;
    }

    &__info {
      width: 466px;

      p {
        color: #596078;
        font-size: 18px;
        line-height: 1.63;
      }

      &__presentation {
        margin-bottom: 52px;
      }

      &__buttons {
        display: flex;
        height: 56px;

        &__contact {
          display: flex;
          align-items: center;
          padding: 16px 28px 16px 32px;
          border-radius: 8px;
          background:
            linear-gradient(264deg, #99c2ff 0%, #a399ff 100%);
            box-shadow: 0px 8px 16px -4px rgba(161, 174, 224, 0.5),
              inset 8px 8px 32px rgba(255, 255, 255, 0.35),
              inset -8px -8px 16px #7B93C9;

          p {
            color: #fff;
            font-weight: 700;
            text-shadow: 0px 1px 2px #7E87B0;
          }
          
          &__icon {
            margin-left: 16px;
          }
        }

        &__cv {
          display: flex;
          align-items: center;
          margin-left: 28px;
          padding: 16px 28px 16px 32px;
          border-radius: 8px;
          background: #edf0fb;

          p {
            color: #5b678c;
            font-weight: 500;
          }

          &__icon {
            margin-left: 16px;
          }
        }
      }
    }

    &__img {
      width: 50%;
      object-fit: cover;

      &__small {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        object-fit: cover;
        object-position:-35px;
        display: none;
        top: 15px;
        position: relative;
      }
    }

    &__name-img {
      display: flex;
      align-items: baseline;
      gap: 30px;
    }
  }
//#endregion

//#region Skills and education
  .skills-education {
    position: relative;
    display: flex;
    padding: 70px 140px;
    background-color: #E5EDF9;
    overflow: hidden;

    &__decoration {
      position: absolute;
      background: #FFFFFF;
      border-radius: 40px;
    }

    #decoration_1 {
      left: 40%;
      top: 15%;
      width: 80px;
      height: 80px;
      box-shadow: inset 8px 8px 16px #EEF0FB, inset -8px -8px 16px rgba(138, 149, 227, 0.33);
    }

    #decoration_2 {
      left: 45%;
      top: 92%;
      width: 40px;
      height: 40px;
      box-shadow: inset 4px 4px 8px #EEF0FB, inset -4px -4px 8px rgba(138, 149, 227, 0.33);
    }

    #decoration_3 {
      right: 5%;
      top: 3%;
      width: 60px;
      height: 60px;
      box-shadow: inset 4px 4px 12px #EEF0FB, inset -4px -4px 12px rgba(138, 149, 227, 0.33);
    }

    #decoration_4 {
      right: 2%;
      top: 25%;
      width: 40px;
      height: 40px;
      box-shadow: inset 4px 4px 8px #EEF0FB, inset -4px -4px 8px rgba(138, 149, 227, 0.33);
    }

    #decoration_5 {
      right: -2%;
      top: 90%;
      width: 80px;
      height: 80px;
      box-shadow: inset 8px 8px 16px #EEF0FB, inset -8px -8px 16px rgba(138, 149, 227, 0.33);
    }
  }

  .skills {
    width: 50%;
    &__technologies {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      margin-right: 40px;
      margin-bottom: 40px;

      &__technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99px;

        span {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }

        div {
          height: 80px;
          width: 80px;
          svg {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
  }

  .education {
    width: 50%;
    padding-top: 10px;

    &__content {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__line {
      position: absolute;
      height: 65%;
      border-right: 1px solid #B9BBC4;
    }

    &__boxes {
      margin-left: 35px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      &__card {
        position: relative;
        width: 544px;
        padding: 30px 40px;
        border-radius: 32px;
        background-color: #fff;
        box-shadow: inset 16px 16px 32px #EEF0FB, inset -8px -8px 16px rgba(138, 149, 227, 0.33);
        z-index: 2;

        &__info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          &__date {
            margin-right: 20px;
            color: #656978;
          }

          &__school {
            color: #4F535E;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            margin-right: 10px;
          }
        }

        p {
          font-size: 18px;
          line-height: 163%;
          margin-bottom: 12px;
        }

        &__technologies {
          display: flex;
        }

        &__bubble {
          position: absolute;
          width: 30px;
          height: 30px;
          background: #FFFFFF;
          box-shadow: inset 4px 4px 8px #EEF0FB, inset -4px -4px 8px rgba(138, 149, 227, 0.33);
          border-radius: 32px;
          left: -49px;
          margin: auto;
          top: 0;
          bottom: 0;
        }
      }

      &__shadow {
        position: relative;
        width: 446px;
        height: 77px;
        background: rgba(161, 171, 234, 0.4);
        filter: blur(25px);
        border-radius: 150px;
        top: -65px;
        margin-bottom: -65px;
      }
    }
  }

  .technology {
    width: 40px;
    height: 40px;
    margin-right: 12px;

    svg {
      transform: scale(0.4);
      transform-origin: left top;
    }
  }
//#endregion

//#region Certificate and languages
.certificate-languages {
  overflow: hidden;
  display: flex;
  padding: 90px 140px;
}

.certificate {
  margin-right: 130px;
}

.opquast {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    &__icon {
      margin-right: 30px;
    }

    &__open-icon {
      margin-left: 8px;
    }

    h6 {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &__school {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      color: #656978;
    }
  }

  &__mention {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &__text {
      margin-right: 10px;

      &__grade {
        font-weight: 600;
      }
    }
  }

  &__skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &__check {
      margin-right: 17px;
    }

    p {
      font-size: 18px;
    }
  }
}

.language {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    margin-right: 30px;
  }

  h6 {
    font-size: 28px;
  }

  span {
    font-size: 18px;
  }
}
//#endregion

//#region Courses
.courses {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 140px 100px 140px;
  background: linear-gradient(0deg, #E5EDF9 0%, rgba(229, 237, 249, 0) 100%);

  h3 {
    align-self: flex-start;
  }
  
  h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    left: -4%;
  }

  &__author {
    font-weight: 400;
    color: #656978;
  }

  &__info {
    align-self: flex-start;

    ul {
      padding-inline-start: 15px;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;

    &__left {
      margin-right: 50px;
    }
  }

  li {
    font-size: 18px;
    font-family: "Roboto";
    line-height: 160%;
    font-weight: 400;
  }

  &__open-icon {
    margin-left: 8px;
  }
}

.course {
  &__picture {
    border-radius: 32px;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.course__box {
  z-index: 2;
}

.current_course {
  width: 55%;
  &__picture {
    width: 100%;
  }
}

.current_course .course__box__shadow {
  position: absolute;
  width: 80%;
  height: 35%;
  background: rgba(161, 171, 234, 0.4);
  filter: blur(25px);
  border-radius: 150px;
  bottom: -40px;
  z-index: -1;
}

.previous_course, .next_course {
  position: absolute;
  z-index: 1;
  width: 45%;

  &__picture {
    width: 100%;
  }
}

.previous_course .course__box__shadow, .next_course .course__box__shadow {
  position: absolute;
  width: 80%;
  height: 40%;
  bottom: 0px;
  background: rgba(161, 171, 234, 0.4);
  filter: blur(25px);
  border-radius: 150px;
  z-index: -3;
}

.previous_course {
  left: 4%;
}

.next_course {
  right: 4%;
}

.course__box__side-shadow {
  position: absolute;
  width: 20%;
  height: 80%;
  background: rgba(105, 108, 133, 0.5);
  filter: blur(15px);
  border-radius: 150px;
  z-index: -1;

  &__left {
    left: -20px;
  }

  &__right {
    right: -20px;
  }
}

.chevron {
  transform: scale(2);
}
//#endregion

//#region Personal project
  .personal-project {
    overflow: hidden;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #E5EDF9 0%, rgba(229, 237, 249, 0) 100%);
    padding: 30px 110px 100px 110px;

    &__pictures {
      width: 50%;
    }

    &__picture {
      width: 70%;

      &__recipes {
      position: relative;
      top: 170px;
      left: -25%;
      }
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 20px;
    }

    p {
      width: 496px;
      line-height: 160%;
      font-size: 18px;
      margin-bottom: 40px;
    }

    &__presentation {
      width: 50%;
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;

      &__tabs {
        align-self: flex-start;
        margin-left: 20px;

        &__tab {
          padding: 3px 15px 1px 15px;
          background-color: #E5EDF9;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          margin-right: 10px;

          span {
            font-family: "Poppins";
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            color: #596078;
          }
        }
      }

      &__box {
        width: 568px;
        border-radius: 16px;
        background: linear-gradient(259.69deg, #CCDEF9 0%, #CDD0FA 100%);
        box-shadow: inset -16px -16px 32px rgba(151, 139, 199, 0.3), inset 16px 16px 32px rgba(255, 255, 255, 0.25);

        p, ul {
          margin-bottom: 0;
          width: auto;
          color: #333745;
          margin: 30px 50px;
        }

        ul {
          margin: 30px 50px 30px 20px;
          font-family: "Roboto";
          line-height: 160%;
          font-size: 18px;
        }
      }

      &__shadow {
        position: absolute;
        width: 447px;
        height: 77px;
        background: rgba(161, 171, 234, 0.4);
        filter: blur(25px);
        border-radius: 150px;
        bottom: 0;
        z-index: -1;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;

      &__playstore {
        width: 135px;
        margin-right: 20px;

        img {
          width: 100%;
        }
      }
    }
  }
//#endregion

//#region Contact
.contact {
  overflow: hidden;
  padding: 100px 20%;
  background-color: #E5EDF9;

  h3 {
    width: auto;
  }

  h4 {
    margin-bottom: 10px;
    color: #596078;
  }

  &__details {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    div {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    svg {
      margin-right: 15px;
    }
  }

  &__box {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    &__card {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(224.2deg, #99C2FF 0%, #A399FF 100%);
      box-shadow: inset 16px 16px 32px rgba(255, 255, 255, 0.38), inset -16px -16px 32px #8A95E3;
      border-radius: 32px;
      padding: 40px 52px;

      &__first-line {
        display: flex;

        &__name {
          margin-right: 30px;
        }
        
        input {
          flex: 1;
          margin-top: 0;
        }
      }

      &__input {
        height: 56px;
        margin-top: 30px;
        border: 2px solid #BAC2DE;
        border-radius: 16px;
        padding: 12px 16px;
        outline: none;
        font-family: 'Roboto';
        color: #333745;
        font-size: 16px;
        box-sizing: border-box;

        &__message {
          height: 177px;
          padding-top: 20px;
          resize: none;
        }

        &::placeholder {
          color: #BAC2DE;
          font-family: "Poppins";
          font-weight: 600;
        }

        &:focus {
          border-color: hsl(227, 25%, 60%);
        }
      }

      &__send {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        input[type="submit"], .submitSpinner {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          width: 198px;
          height: 56px;
          background: #FFFFFF;
          box-shadow: 0px 8px 16px -4px rgba(125, 135, 173, 0.5), inset 4px 4px 8px #EEF0FB, inset -4px -4px 8px rgba(138, 149, 227, 0.3);
          border-radius: 8px;
          font-family: 'Poppins';
          color: #4F4F73;
          font-weight: 700;
          font-size: 16px;
          border: none;
        }

        &__error {
          color: #870000;
        }

        &__success {
          color: #004D11;
        }
      }
    }

    &__shadow {
      position: absolute;
      width: 80%;
      height: 130px;
      background: #909CEA;
      filter: blur(30px);
      border-radius: 150px;
      bottom: -12px;
      z-index: -1;
    }
  }
}
//#endregion

//#region Responsive
@media (max-width: $normal) {
  .navbar {
    padding: 0 100px 0 100px;

    &__links {
      transition: all 0.3s linear;
      position: fixed;
      min-height: 100vh;
      top: 0;
      right: -220px;
      margin-top: 0;
      background-color: #8EA6D8;
      padding: 50px 25px 0 25px;
      z-index: 3;

      &.open {
        right: 0px;
      }

      ul {
        display: inline;
      }

      li {
        margin-bottom: 12px;
      }
      
      a {
        margin-left: 0;
      }
    } 

    &__hamburger {
      display: flex;
    }
  }

  .hero-section {
    height: auto;
    &__left {
      width: 100%;
      padding: 70px 100px 50px 100px;
    }

    &__info {
      width: auto;
    }

    &__img {
      display: none;
      &__small {
        display: block;
      }
    }
  }

  .skills-education {
    flex-direction: column;
    padding: 70px 100px;

    #decoration_1 {
      top: 45%;
    }

    #decoration_2 {
      top: 96%;
    }

    #decoration_3 {
      right: 15%;
    }

    #decoration_5 {
      right: -5%;
    }
  }

  .skills {
    width: 100%;

    &__technologies {
      margin-right: 0;
    }
  }

  .education {
    width: 100%;

    &__box__card {
      width: 100%;
    }

    &__line {
      left: -40px;
    }
  }

  .certificate-languages {
    flex-direction: column;
    padding: 90px 100px 40px 100px;
  }
  .certificate {
    margin-right: 0;
    margin-bottom: 40px;

    h3 {
      margin-bottom: 20px;
    }
  }

  .languages {
    display: flex;
    column-gap: 20px;
  }

  .courses {
    padding: 0 100px 40px 100px;
  }

  .current_course {
    width: 70%;
    &__picture {
      width: 100%;
    }
  }

  .previous_course, .next_course {
    width: 60%;
    &__picture {
      width: 100%;
    }
  }

  .personal-project {
    padding: 30px 100px 40px 100px;
    &__pictures {
      width: 100%;
      margin-bottom: 30px;
    }
    &__picture {
      width: 100%;
    }
    &__presentation {
      width: 100%;
    }
  }

  .contact {
    padding: 60px 10%;

    h3 {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 20px;
    }
  }
}
//#endregion